@import 'fonts';

$text-color: #16133D;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
button {
  transition: all .2s ease;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  color: $text-color;
}

.page-wrapper {
  width: min(90%, 1440px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: space-between;

  main {
    flex-grow: 1;
  }
}

.logo {
  width: 200px;
  height: 35px;
  margin: 22.55px 0;
}

.line {
  height: 1px;
  background-color: #EFEEF3;
  width: 100%;  
}

.text-service {
  color: #7690A8;
  line-height: 1.3125rem;
  text-transform: uppercase;
  padding: 0 0 15px 3px;
}

.slogan {
  font-family: 'Nunito Sans';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  letter-spacing: 0.0125rem;
  padding-bottom: 40px;
}

.flex-block {
  display: flex;
  gap: 30px;

}


.info-item {
  width: 370px;
  max-height: 340px;
  padding: 40px;
  border: 1px solid #E5EAF4;
  border-radius: 8px;

  .ico {
    margin-bottom: 30px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.33rem;
  }

  p {
    padding-bottom: 20px;
    width: 275px
  }

  a {
    text-decoration: none;
    color: #3DB370;
    font-weight: 600;
    line-height: normal;
  }
}
footer {
  background-color: #16133D;
}

.logo-footer {
  width: 200px;
  height: 35px;
  margin: 40px 0;
}

ul {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

li {
  a {    
    background-color: #fff;
    border-radius: 5px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover svg {
      fill: #3DB370;
    }
    svg {
      width: 20px;
      height: 20px;
      object-fit: contain;
      fill: #0D0D0D;
      transition: all .1s ease;
    }
  }
}