$text-color: #544837;
$primary-color: #F90;
$secondary-color: #D80B0A; //secondary-colors/coral
$secondary-color-light: #F03E3D; //primary-colors/coral
$inactive-color: #D6E0EB; //secondary-colors/gray-light
$battn-color-sec: #2F281E; //primary-colors/brown-dark
$text-color-main-menu: #2F281E; //primary-colors/brown-dark

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

a,
.btn {
    transition: all .2s ease-in-out;
}

nav {
    
a {
        color: $text-color-main-menu;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;

        &:hover {
            color: $primary-color;
        }

        &:active {
            color: $secondary-color;
        }
    }

}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: $text-color;
    font-weight: 500;
    line-height: 1.625rem;
}

.features_section {
    background-image: url('../images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: min(90%, 1230px);
    margin: 0 auto;
}

section {
    padding-bottom: 90px;
}

.new-line {
    display: block;
}

header .container {
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: space-around;    
}

.btn {
    text-decoration: none;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    line-height: normal;
    font-size: 1.125rem;
    font-weight: 600;

    &:hover {
        background-color: $secondary-color-light;
        border: 1px solid $secondary-color-light;
    }

    &:active {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
    }

    &.btn-secondary {
        color: $battn-color-sec;
        background-color: transparent;
        border: 1px solid $battn-color-sec;

        &:hover {
            color: $secondary-color-light;
            border: 1px solid $secondary-color-light;
        }

        &:active {
            color: $secondary-color;
            border: 1px solid $secondary-color;
        }

    }
}

.button-group {
    display: flex;
    gap: 32px;
}

.hero_section .container {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    color: $text-color-main-menu;

    h1 {
        font-size: 2.75rem;
        font-weight: 700;
        line-height: 3.375rem;
        padding-bottom: 20px;
    }

    p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;
        padding-bottom: 30px;
    }

}

.hero_section .btn {
    padding: 12px 40px;
    font-size: 1.125rem;
    border: none;
}

.features_section {
    h2 {
        font-size: 2.25rem;
        font-weight: 700;
        padding-bottom: 50px;
        color: $text-color-main-menu;
        text-align: center;
        line-height: normal;
    }
}

.card_list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px 60px;

}

.feature_card {
    width: 270px;

    img {
        padding-bottom: 30px;
    }

    h3 {
        font-size: 1.375rem;
        font-weight: 600;
        padding-bottom: 16px;
        color: $text-color-main-menu;
    }

}

.features_section .btn {
    padding: 12px 40px;
    font-size: 1.125rem;
    border: none;
    display: block;
    margin: auto;
}

footer .container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    padding: 70px 0;


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.875rem;
        color: $text-color-main-menu;
        padding-bottom: 30px;
    }

    input {
        padding: 15px 10px;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #BCD0E5;
        margin: 0 auto 25px;
        width: 100%;

        &::placeholder {
            font-family: Montserrat;
            color: #BCD0E5;
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
        }
    }

    form {
        h4 {
            padding-bottom: 25px;
        }
    }

    footer .btn {
        padding: 12px 40px;
        font-size: 1.125rem;
        border: none;
        display: block;
        margin: auto;
    }

}