@import 'fonts';

$text-color: #545454;
$background-color: #F7F7F7;
$form-btn-color: #007BFF;
$border-color: #E4E4E4;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

.container {
    width: min(90%, 570px);
    margin: 0 auto;
}

body {
    font-family: 'Roboto';
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.375rem;
    background-color: $background-color;

    h1 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem;
        color: #1C1C1C;
        padding-bottom: 20px;
    }

    label {
        display: inline-block;
        color: $text-color;
        margin-bottom: 7px;
        letter-spacing: -0.0125rem;
        color: $text-color;
    }

    p {
        color: #969696;
        font-size: 0.8125rem;
        font-style: normal;
        line-height: 1.125rem;
        letter-spacing: -0.00625rem;
        margin-top: 7px;
    }
}

a,
button {
    transition: all .2s ease;
}

button {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid $form-btn-color;
    background-color: $form-btn-color;
    color: #fff;
    font-weight: 500;
    line-height: 1.375rem;
    font-family: 'Roboto';
    width: 100%;
    font-size: 0.9375rem;
    margin-bottom: 22px;
}

.button-wrap-profile {
    max-width: 150px;

}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-wrap {
    padding: 35px;
    background-color: #fff;
    border-radius: 6px;
}

.form-element {
    margin-bottom: 20px;
    
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
select {
    border-radius: 4px;
    border: 1px solid $border-color;
    height: 38px;
    padding: 7px 10px;
    width: 100%;
    margin: 0 1px;

    &:focus {
        outline: 1px solid $form-btn-color;
    }
}

select {
    appearance: none;
    background: url('../images/arrow_double.svg') no-repeat right 20px top 10px/14px auto;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
}

.radio-group {
    display: inline-flex;
    gap: 9px;
    margin-right: 21px;
    padding-bottom: 20px;   

    & label {
        margin-right: 13px;
        margin-bottom: 0;
    }
}

input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 20px;
    height: 20px;
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #E4E4E4;
    }

    &:checked::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: transparent;
        border: 6px solid $form-btn-color;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $text-color;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    padding:0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background: url('../images/arrow_double.svg') center center/18px auto no-repeat;
    height:36px;
    right:7px;

    b {
        display: none;
    }
}

.select2-container--default .select2-selection--single {
    border-radius: 4px;
    border: 1px solid $border-color;
    height: 38px;
    padding: 7px 6px;
    margin: 0 2px;
    width: 100%;
    color:#E4E4E4;

}
