body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #070707;
}

.nowrap {
    white-space: nowrap;
}

header {
    padding-bottom: 27.5px;
}

hgroup {
    padding-bottom: 50px;
}

.container {
    width: min(90%, 970px);
    margin-inline: auto;
}

.main-menu ul {
    text-align: center;
    font-size: 0;
}

.main-menu ul li {
    display: inline-block;
    margin: 0 20px;
}

.main-menu ul li a {
    font-size: 1.125rem;
    color: #828282;
    text-decoration: none;
}

.skills ul {
    text-align: center;
    font-size: 0;
}

.skills ul li {
    display: inline-block;
    font-size: 0.875rem;
    color: #828282;
    padding-bottom: 101px;
}

.skills ul li p {
    padding-top: 25px;
    padding-bottom: 60px;
    margin: 0;
}

.container h1 {
    font-size: 3rem;
    text-align: left;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 50px;
}

.container h2 {
    font-size: 2.123rem;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

hr {
    margin: auto;
    border: none;
    height: 1px;
    width: 970px;
    background-color: #828282;
}

.portfolio {
    padding-top: 50px;
}

.portfolio a {
    display: inline-block;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.125rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.transparent {
    opacity: 0.1
}

.icon ul li {
    padding: 0 25px;
    margin: 0;
    display: inline-block;
}

#imfrom {
    display: block;
    width: 480px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.125rem;
    padding-top: 50px;
    padding-bottom: 30px;
}

#imstudy {
    display: block;
    width: 406px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.125rem;
}

#imready {
    display: block;
    width: 321px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.125rem;
    padding-top: 30px;
    padding-bottom: 100px;
}

#footer-contacts {
    display: block;
    width: 280px;
    height: 46px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    font-size: 1.125rem;
    color: #070707;
}

#footer-social {
    display: block;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.875rem;
    color: #828282;
    padding-top: 60px;
}

.mail-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #070707;
    color: #fff;
    text-decoration: none;
    border-radius: 22px;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 30px;
}

#aboutme,
#portfolio {
    background-color: #F6F6F6;
}