@import 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a, button {
  transition: all .2s ease;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  background-image: url('../images/bg-picture.svg');
  background-repeat: no-repeat;
  background-position: 70% 30%;
  background-attachment: fixed;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;  
}


.header-container {
  display: flex;  
  padding-bottom: 75px;
}

.heading {  
  display: flex;
  gap: 10px;
  padding: 26px 0;
  justify-content: center;
  font-family: 'Staatliches';
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.04125rem;
}

.lang {
  padding: 29px 50px 0 0;
  margin-left: 3px;
  font-family: 'Tourney';
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.0825rem;
}

.spacer {
  margin-right: auto;
}

img {
  padding: 13px 0;
}


.grid-container {
  display: grid;
  grid-template-columns: 385px auto;
  gap: 30px;
}

.contents {  
  position: sticky;
  top:0;
  text-transform: uppercase;
  font-family: 'Francois One';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.07rem;
  padding: 10px; 
  height: 100vh;

  li{
    padding-bottom: 80px;
  }
}

.chapter {
  position: relative;
  padding-bottom: 40px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.divider {
  border: none;
  height: 8px;
  width: 100px;
  background-color: #000;
  margin-bottom: 20px;
  // margin: 2rem 0;
}


// .chapter::before {
//   content: '';
//   position: absolute;
//   top: -50%;
//   width: 100px;
//   border-top: 8px solid #000;
// }

.main_text {  
  font-family: 'PT Sans';
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;

  p:not(:last-child) {
    padding-bottom: 40px;
  }
}

.chapter p {
  text-transform: uppercase;
  font-family: 'Francois One';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.09rem;
}

sups {
  font-family: 'Farro';
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: -5px;
}

.text-code {
  background-color: #DADADA;
  padding: 4px 6px;
  border-radius: 4px;
}

.italic {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
}