@use 'fonts.css' as*;

@use 'hamburger' as*;

$text-color: #2C4058;

/*==SET HOVER COLOR FOR LINKS==*/

$social-colors: (
  'color-facebook': #0866ff,
  'color-twitter': #00ACEE,
  'color-instagram': #C13584,
  'color-scroll-link': #2C4058
);

@each $class, $color in $social-colors {
  a .#{$class} {
    color: #fff;
    transition: color 0.3s ease;
  }

  a.#{$class}:hover {
    border-color: $color;

    i {
      color: $color;
    }
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
button {
  transition: all .2s ease;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  color: $text-color;
  font-family: 'Montserrat';
}

h2 {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

/*--HAMBURGER--*/
.hamburger {
  display: none;
}

.overlay-mm {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100dvh-60px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all .5s ease;
}

.mobile-menu-panel {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-color: #fff;
  transform: translateY(100%);
  transition: all .5s ease;
  z-index: 501;


  .mm-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
}

.open-menu {
  .overlay-mm {
    visibility: visible;
    opacity: 1;
  }

  .mobile-menu-panel {
    transform: translateY(60px);
  }

  .mobile-menu-panel .nav-menu,
  .contact-list {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .circle {
      border-color: $text-color;
    }

    a {
      display: inline;
      width: 100%;
      color: $text-color;
      text-transform: uppercase;
      font-size: 25px;
      font-family: 'Source Sans Pro';

      &:hover .circle {
        background-color: $text-color;
      }
    }
  }

  .contact-list a {
    text-transform: none;
  }

  .social-list {
    justify-content: space-around;
  }

  .circle-wrap {
    border-color: #7E5AFF;

    i {
      color: #7E5AFF;
    }
  }
}

/*--HEADER--*/

.transparent-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  background-color: transparent;
  z-index: 999;
}

.header-inner {
  margin: 0 auto;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 1s ease, background-color 1s ease;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 70px;

  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Source Sans Pro';

    &:hover .circle {
      background-color: #fff;
    }
  }
}

.circle {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-right: 14px;
  transition: background-color 1s ease;
}

.active-header {
  background-color: #fff;
}

.social-list {
  display: flex;
  gap: 20px;
}

.social-item {
  font-size: 16px;
}

.circle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: border-color 1s ease;

  i {
    color: #fff;
    transition: color 1s ease;
  }
}

/*--SCROLED--*/

.scrolled {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(6px);

  .nav-menu li a {
    color: $text-color;

    &:hover .circle {
      background-color: $text-color;
    }
  }

  .circle {
    border-color: $text-color;
  }

  .active-header {
    background-color: $text-color;
  }

  .circle-wrap {
    border-color: $text-color;

    i {
      color: $text-color;
    }
  }


}

/*--SLIDER--*/

#slider-hero li {
  position: relative;
  height: 100dvh !important;
  min-height: 500px;
  color: #fff;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;

  .slide-title {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Montserrat';
  }

  p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 5.8px;
    text-transform: uppercase;
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.slide-1 {
  background-image: url('../images/slider/background_1.jpg');
}

.slide-2 {
  background-image: url('../images/slider/background_2.jpg');
}

.slide-3 {
  background-image: url('../images/slider/background_3.jpg');
}

.slide-4 {
  background-image: url('../images/slider/background_4.jpg');
}

.slide-5 {
  background-image: url('../images/slider/background_5.jpg');
}

.scroll-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.angle-down {
  font-size: 9px;
  color: #fff;
}

.slider-hero-wrapper .lSSlideOuter {

  .lSPager.lSpg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
    display: flex;
    flex-direction: column;
    margin-right: 52px;

    >li {
      padding: 25px 0;

      a {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        background-color: transparent;
      }

      &:hover a,
      &.active a {
        background-color: #fff;
      }
    }
  }
}


/*--PROJECTS--*/

.project-section {
  padding-bottom: 150px;
}

.divider {
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  border: none;
  margin: 0 auto 30px;
}

.divider-wrapper {
  padding-top: 100px;
}

.header-section {
  text-align: center;
  padding-bottom: 147px;
}

.project-content {
  display: flex;
  justify-content: space-between;
}

.project-content:not(:last-child) {
  padding-bottom: 176px;
}


.shadow-box img {
  box-shadow: -260px -57px #55B7FF;
  transition: box-shadow 0.3s ease, width 0.3s ease;
  aspect-ratio: 4 / 3;
}

.project-text {
  padding-top: 94px;

  h3 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }

  h2 {
    padding-bottom: 19px;
  }

  p {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 30px;
    max-width: 470px;
    width: 100%;
    padding-bottom: 30px;
  }

  i {
    font-size: 15px;
  }
}

.target {
  display: block;
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 15px;
}

.btn {
  width: 190px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid $text-color;
  transition: 1s ease-in-out;
  position: relative;
  margin-bottom: 60px;

  span {
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #7E5AFF;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }

  &:hover {
    background: #55B7FF;
    transition: 1s ease-in-out;

    svg {
      stroke-dashoffset: -480;
    }
  }
}

.revers {
  flex-direction: row-reverse;

  .shadow-box img {
    box-shadow: 260px -57px #7E5AFF;
    transition: box-shadow 0.3s ease, width 0.3s ease;
    aspect-ratio: 4 / 3;
  }
}

/*--NEWS--*/

.news {
  background: url(../images/bg_news.png) center / cover no-repeat;

  .divider {
    background-color: #fff;

  }

  .divider-wrapper {
    padding-top: 116px;
  }

  h2 {
    color: #fff;
    padding-bottom: 90px;
  }
}

.slider-news-wrapper .lSSlideOuter {
  .lSPager.lSpg {
    >li {
      padding: 30px 25px;

      a {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        background-color: transparent;
      }

      &:hover a,
      &.active a {
        background-color: #fff;
      }
    }
  }

  padding-bottom: 80px;
}

.slider-news-wrapper {
  position: relative;
}

.slider-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;

  i {
    color: #fff;
  }
}

#slider-prev {
  top: 35%;
  left: -8.5%;
}

#slider-next {
  top: 35%;
  right: -8.5%;
}

#slider-news li {
  aspect-ratio: 4 / 3;
  width: 100%;
}

.slider-news a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.img-wrapper-news {
  aspect-ratio: 3 / 2;
}

.content-news {
  padding: 30px 18px;
  background-color: #fff;

  h4 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .summary {
    display: -webkit-box;
    font-family: "Open Sans";
    font-size: 18px;
    max-height: calc(1.4em * 2);
    padding-bottom: 90px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ful-name {
    padding-bottom: 6px;
    text-transform: uppercase;
  }

  time {
    color: #55B7FF;
    font-size: 14px;
  }
}

.news-content-footer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.avatar-wrapper img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/*--LIGHTGALLERY--*/

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding-bottom: 60px;

  .divider-wrapper {
    padding-top: 150px;
    padding-bottom: 33px;
  }

  .divider {
    margin: 0 auto;
  }

  .header-section {
    padding-bottom: 90px;
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3 ease;
  pointer-events: none;
  z-index: 2;
}

.gallery .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

.gallery-item:hover .zoom-icon,
.gallery-item:hover .overlay {
  opacity: 1;

}

#lightgallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-pos-1 {
  grid-column: span 2;
  grid-row: span 2;
}


/*--MAP--*/

#map {
  position: relative;
  width: 100%;  
  height: clamp(300px, 60vh, 700px);

  #map a:focus {
    outline: none;
  }

  a#load-map-link {
    display: block;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);

    p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      opacity: 0;
      font-size: 1.5rem;
      z-index: 2;
      transition: all .2s ease;
    }

    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      z-index: 1;
      transition: all .2s ease;
    }

    &:hover {

      p,
      &::after {
        opacity: 1;
      }
    }
  }
}

/*--CONTACT--*/

#contact {
  position: relative;
}

.form-wrap {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: clamp(300px, 80%, 770px);
}

.top {
  background: url(../images/bg_form.png) rgb(255, 255, 255) 50% bottom / contain no-repeat;
  padding: 60px;

  form {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-bottom: 5px;
    width: 140px;
    margin-left: auto;

    span {
      font-size: 18px;
      line-height: 27px
    }
  }

  .flex-wrap {
    display: flex;
    justify-content: space-between;
    gap: 54px;
  }

  .divider-wrapper {
    padding: 0;
  }

  h2 {
    padding-bottom: 42px;
  }
}

.contact-list {
  li:not(:last-child) {
    padding-bottom: 26px;
  }

  li :is(i, a, span) {
    color: #7E5AFF;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    padding-right: 5px;
  }

  li :is(a, span) {
    color: #000;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;

  .logo {
    padding-bottom: 41px;
  }

  .copyrights {
    color: #fff;
    font-size: 14px;
  }
}

/*-FLOATING LABEL-*/

.floating-label {
  position: relative;
}

input:focus {
  outline: none;
  border-color: $text-color;
}

input {
  width: 100%;
  border: none;
  padding-right: 86px;
  padding-top: 13px;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
  font-size: 18px;
  color: #000;
  font-size: 18px;
  line-height: 27px;
}

.email {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 32px;
}


label {
  position: absolute;
  left: -4px;
  font-size: 18px;
  color: rgba(75, 85, 98, 0.5);
  pointer-events: none;
  transition: all 0.2s ease;
  top: -1px;
}

input:focus~label {
  top: -10px;
  font-size: 16px;
  color: #4B5562;
}


/*--FOOTER--*/

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background: url(../images/bg_footer.png) lightgray 0px 0px / 100% 95.446% no-repeat,
    linear-gradient(251deg, #7E5AFF -2.19%, #55B7FF 103.21%);
}


@media screen and (max-width: 1400px) {

  #slider-prev {
    left: -4%;
  }

  #slider-next {
    right: -4%;
  }
}

@media screen and (max-width: 1200px) {
  .nav-menu {
    gap: 20px;
  }

  .project-content {
    padding: 0;
    flex-direction: column;
  }

}

@media screen and (max-width: 960px) {
  .header-inner {
    height: 60px;

    .social-list {
      display: none;
    }
  }

  .nav-menu {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  #slider-prev {
    display: none;
  }

  #slider-next {
    display: none;
  }

  #lightgallery {
    grid-template-columns: 1fr;
  }

  .bottom {
    flex-direction: column;
    align-items: center;

    .logo img {
      max-width: 200px;
      height: auto;
      display: block;
    }

    .copyrights {
      padding-bottom: 40px;
    }
  }

  .flex-wrap {
    flex-direction: column;
  }
}

footer {
  height: 700px;
}

@media screen and (max-width: 650px) {

  #lightgallery {
    display: flex;
    flex-direction: column;
  }

  .zoom-icon {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  #slider-hero li .slide-title {
    font-size: 50px;
  }

  .top {
    padding: 10px;

    h2 {
      font-size: 40px;
    }
  }
}